/* style for header */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
}
/* making body as flex so footer will occupy all space after other elements are rendred */
.navbar {
    display: flex;
    width: 100vw;
    background-color: rgb(209, 93, 93);
    height: 90px;

}

.tech-img img {
    height: 54px;
    margin: 1rem;

}

.list-header {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin: 12px auto;
    gap: 35px;

}

.list-header li a {
    color: white;
    text-decoration: none;
    font-size: large;
}
.list-header li a:hover{
    color: rgb(93, 93, 193);
}

/* css for education area in index file */
.education-container {
    width: 100vw;
    height: 190px;
    background-color: #dcc9c9;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.education-container p {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0 30px;
}

/* css for skills section */

.skills-section {
    margin-top: -10px;
    height: calc(80vh - 280px);
    background-color: rgb(209, 93, 93);

}
.skills-section p{
    font-size: 24px;
    text-decoration:underline;
    font-weight: 900;
}
.skills-section ul{
    list-style: none;
}
.skills-section ul li{
    margin: 6px 2px;
    font-size: 1rem;
}

/* css for footer in index */
.footer-index{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex:1;
    min-height: 150px;
    background-color:  #dcc9c9;
}
.social{
    margin-left: 40px;
}
.social a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: blue;
    text-decoration: none;
}
.social a i{
   
   font-size: 2rem;
   color: white;
}